.container{
    padding-top: 160px;
    padding-bottom: 100px;
    h4{
        color: #C4C4C4;
        font-size: 18px;
        margin: 20px 0;
    }
    .card{
        background-color: #fff;
        border-radius: 4px;
        margin: 18px 0;
        .card-body{
            padding: 20px;
        }
    }
}
.profile-header{
    color: #3A3D44;
    padding: 20px 0;
    .img-container{
        max-width: 80px;
        max-height: 80px;
        margin: 20px auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    h2{
        font-size: 20px;
    }
    .spes-container{
        margin-top: 40px;
        .spes-label{
            color: #A4C2F7;
            border: 1px solid #A4C2F7;
            padding: 4px 16px;
            border-radius: 100px;
        }
    }
    .profile-desc-container{
        font-size: 17px;
        padding: 0 20px;
        line-height: 32px;
    }
    .profile-loc-container{
        position: relative;
        padding: 0 20px;
        ul{
            margin: 0;
            padding: 0;
            li{
                font-size: 16px;
                list-style-type: none;
                display: inline-block;
                margin-right: 50px;
                span{
                    margin-right: 8px;
                }
            }
        }
    }
}
.schedule-container{
    h2{
        font-size: 22px;
    }
    table{
        margin-top: 30px;
        tr{
            td {
                padding-top:30px;
                padding-bottom:30px;
                padding-right:30px;   
              }
        }
    }
}
.btn.back{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    font-size: 22px;
    background-color: #42A7F0;
    border-radius: 100px;
    padding: 12px 22px;
    color: #fff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    &:hover{
        opacity: .8;
    }
}