#schedules-section{
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/schedules-bg.svg');
    &::after{
        display: block;
        content: '';
        width: 100%;
        height: 30vh;
        background-color: #fff;
        bottom: 0;
        margin-top: -20vh;
    }
    .container{
        &:first-child{
            .row{
                &:first-child{
                    h2{
                        color: #fff;
                        margin-top: 70px;
                        @media only screen and (max-width : 768px) {
                            font-size: 26px;
                        }
                    }
                }
                &:last-child{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .card{
                        margin: 20px;
                        background-color: #fff;
                        border-radius: 4px;
                        text-align: center;
                        padding: 20px;
                        width: 20em;
                        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
                        a{
                            text-decoration: none;
                        }
                        h2{
                            font-size: 22px;
                            color: #42A7F0;
                            margin-top: 50px;
                            margin-bottom: 30px;
                            letter-spacing: 2px;
                        }
                        .img-container{
                            max-width: 90px;
                            max-height: 90px;
                            margin: 28px auto;
                            img{
                                border-radius: 100px;
                                background-color: rgba($color: #000, $alpha: 0.05);
                                padding: 20px 22px;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    @media only screen and (max-width : 768px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
                p{
                    font-size: 18px;
                    color: #fff;
                    margin: 18px 0;
                }
                form{
                    span{
                        &.input-group-addon{
                            background-color: #1165DE;
                            color: #fff;
                            border-color: #1165DE;
                        }
                    }
                }
            }
        }
        &.spes-container{
            .row{
                margin-top: 40px;
                a{
                    font-size: 17px;
                    img{
                        max-width: 36px;
                        max-height: 36px;
                        border-radius: 100px;
                        margin: 0 10px;
                    }
                    &.btn-spesialis{
                        font-size: 18px;
                        background: linear-gradient(to right, #80E2F9, #1165DE);
                        border-radius: 100px;
                        color: #fff;
                        border: none;
                        padding: 12px 26px;
                        box-shadow: 0px 7px 15px rgba($color: #000, $alpha: .09);
                        span{
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .container-fluid{
        margin: 40px 50px;
        .card{
            padding: 40px 20px;
            background-color: #fff;
            border: 1px solid rgba($color: #000, $alpha: .1);
            border-radius: 4px;
        }
        a{
            img{
                max-width: 36px;
                max-height: 36px;
                border-radius: 100px;
                margin: 0 10px;
            }
        }
        @media only screen and (max-width : 768px) {
            margin: 40px 10px;
        }
    }
    .loc-btn-container{
        margin: 30px 50px;
        text-align: center;
        .loc-btn{
            background: rgba($color: #000, $alpha: .5);
            color: #fff;
            text-decoration: none;
            margin: 0 6px;    
            padding: 8px 16px;
            border-radius: 100px;
            transition: all 0.3s ease;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
            &:hover{
                background: linear-gradient(to right, #0291F7, #12D6C7);
            }
        }
    }
    .end-loc{
        display: none;
    }
}