#service-page-section{
    display: flex;
    padding-top: 100px;
    overflow: hidden;
    .row{
        .flex-center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .has-bg{
            content: '';
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            position: relative;
            color: #fff;
            .title{
                z-index: 3;
                h2{
                    font-size: 40px;
                    letter-spacing: 20px;
                    text-transform: uppercase;
                    @media only screen and (max-width : 400px) {
                        font-size: 26px;
                        letter-spacing: 4px;
                    }
                }
            }
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                content: '';
                background-color: rgba($color: #000, $alpha: 0.3);
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
        .content{
            background-color: #fff;
            margin: 0 120px 70px 120px;
            padding: 60px;
            p{
                font-size: 18px;
                line-height: 32px;
            }
            @media only screen and (max-width : 768px) {
                margin: 0 40px 30px 40px;
                padding: 50px;
            }
            @media only screen and (max-width : 400px) {
                margin: 0 0 50px 0;
                padding: 40px;
            }
        }
        .back-btn{
            font-size: 16px;
            background-color: #42A7F0;
            border-radius: 100px;
            padding: 10px 18px;
            color: #fff;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
            transition: 0.3s ease;
            margin-bottom: 50px;
            &:hover{
                opacity: .8;
            }
            span{
                margin-right: 8px;
            }
        }
        // .col-md-12{
        //     overflow: hidden;
        //     &:first-child{
        //         color: #3A3D44;
        //         margin: 30px 40px;
        //         .title{
        //             margin: 100px 0;
        //             @media only screen and (max-width : 768px) {
        //                 margin: 30px 0;
        //             }
        //         }
        //         .content{
        //             p{
        //                 font-size: 18px;
        //                 line-height: 36px;
        //             }
        //         }
        //         .foot{
        //             margin-top: 50px;
        //             a{
        //                 font-size: 22px;
        //                 background-color: #42A7F0;
        //                 border-radius: 100px;
        //                 padding: 12px 22px;
        //                 color: #fff;
        //                 box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
        //                 transition: 0.3s ease;
        //                 &:hover{
        //                     opacity: .8;
        //                 }
        //             }
        //         }
        //     }
        //     &.has-bg{
        //         content: '';
        //         background-attachment: fixed;
        //         background-position: center;
        //         background-repeat: no-repeat;
        //         background-size: cover;
        //         height: 100vh;

        //         @media only screen and (max-width : 768px) {
        //             display: none;
        //         }
        //     }
        // }
    }
}