#ajw-navbar{
    &.navbar{
        width: 100vw;
        padding: 26px 0;
        position: absolute;
        margin-bottom: 0px;
        top: 0;
        left: 0;
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    }
    #app-navbar-collapse{
        border-color: transparent;
    }
    .container-fluid{
        margin: 0 30px;
        li{
            margin-left: 20px;
            &.hd-md{
                display: block;
                @media only screen and (max-width : 600px) {
                    display: none;
                }
            }
            &.d-md{
                display: none;
                @media only screen and (max-width : 600px) {
                    display: block;
                }
            }
            .dropdown{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: all 0.5s ease;
                margin-top: 1rem;
                top: 40px;
                left: 0;
                display: none;
                background-color: rgba($color: #fff, $alpha: .98);
                padding: 18px 0px;
                border-radius: 3px;
                border-top: 3px solid #0291F7;
                box-shadow: 0px 7px 15px rgba($color: #0C69D9, $alpha: .15);
                li{
                    margin: 6px 0;
                    list-style-type: none;
                    clear: both;
                    width: 100%;
                    a{
                        display: block;
                        color: #3A3D44;
                        text-decoration: none;
                        padding: 3px 60px 3px 30px;
                        font-size: 14px;
                        &:hover{
                            color: #0C69D9;
                        }
                    }
                }
            }
            &:hover > .dropdown, .dropdown:hover{
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }
        a{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
            &.navbar-brand{
                font-size: 28px;
                font-weight: bold;
                color: #0C69D9 !important;
                letter-spacing: 1px;
            }
            span{
                margin-left: 8px;
                font-size: 12px;
            }
        }
    }
}
header{
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-image: url('../img/header-bg.jpg');
    .next-btn{
        color: #fff;
        position: absolute;
        bottom: 14px;
        right: 20px;
        border: 1px solid rgba($color: #fff, $alpha: 0.6);
        padding: 6px 12px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        z-index: 99;
        span{
            margin-left: 6px;
        }
    }
    h1{
        position: absolute;
        left: 50%;
        top: calc(50% - 50px);
        transform: translate(-50%, -50%);
        letter-spacing: 8px;
        @media only screen and (max-width : 768px) {
            font-size: 18px;
            text-align: center;
            line-height: 36px;
        }
    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
    }
    .h-content{
        position: absolute;
        background: linear-gradient(to left, #42A7F0, #0C69D9);
        width: 78vw;
        height: 30vh;
        bottom: 0;
        z-index: 99;
        .col-md-6{
            padding: 20px 60px;
            h2{
                font-size: 32px;
                @media only screen and (max-width : 768px) {
                    font-size: 18px;
                }
            }
            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                @media only screen and (max-width : 768px) {
                    font-size: 14px;
                }
            }
        }
        @media only screen and (max-width : 768px) {
            width: 100%;
            height: 30vh;
            overflow: scroll;
            &::before{
                content: '';
                width: 1px;
                height: 50vh;
                top: 80px;
                right: 30px;
                background-color: #fff;
                position: absolute;
            }
            &::after{
                content: 'scroll';
                width: 1px;
                height: 1px;
                top: 40px;
                right: 52px;
                letter-spacing: 2px;
                position: absolute;
                transform: rotate(90deg);
            }
        }
    }
} /* end header */
#service-section{
    display: flex;
    background-color: #fff;
    padding-bottom: 100px;
    .row{
        margin: 60px 0;
        .col-md-12{
            h2{
                font-size: 32px;
                color: #171616;
            }
            p{
                margin-top: 20px;
                font-size: 18px;
                color: #3A3D44;
            }
        }
        .col-md-3{
            .card{
                border-radius: 6px;
                padding: 20px;
                box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
                margin: 30px auto;
                .card-header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .img-container{
                        padding: 14px 14px;
                        max-width: 56px;
                        max-height: 56px;
                        border-radius: 100px;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .card-body{
                    padding-top: 20px;
                    padding-bottom: 16px;
                    p{
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: 1px;
                    }
                }
                .card-footer{
                    padding: 20px 0;
                    a{
                        font-size: 14px;
                        padding: 10px 14px;
                        border-radius: 4px;
                        text-decoration: none;
                        transition: all 0.2s ease;
                        margin-left: 0;
                        .fas{
                            margin-left: 6px;
                        }
                        &:hover{    
                            margin-left: 6px;
                            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
            &:nth-child(odd){
                .card{
                    background-color: #42A7F0;
                    color: #fff;
                    .img-container{
                        background-color: #fff;
                        img{
                            color: #3A3D44;
                        }
                    }
                    .card-footer{
                        a{
                            background-color: #fff;
                            color: #42A7F0;
                        }
                    }
                }
            }
            &:nth-child(even){
                .card{
                    background-color: #fff;
                    color: #3A3D44;
                    .img-container{
                        background-color: #42A7F0;
                        img{
                            color: #fff;
                        }
                    }
                    .card-footer{
                        a{
                            background-color: #42A7F0;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &:last-child{
            margin-bottom: 100px;
        }
    }
}/* service section */
#about-section{
    overflow-x: inherit;
    padding: 120px 0;
    position: relative;
    background: linear-gradient(to right, #0291F7, #12D6C7);
    &::before{
        content: '';
        width: 106%;
        height: 96%;
        left: -8%;
        top: -6%;
        transform: rotate(3deg);
        position: absolute;
        background: linear-gradient(to right, #0291F7, #12D6C7);
    }
    .row{
        display: flex;
        align-items: center;
        color: #fff;
        h2{
            position: relative;
            font-size: 32px;
            margin: 20px 0;
            &::before{
                content: '';
                position: absolute;
                width: 90px;
                height: 1px;
                background-color: #fff;
                bottom: -18px;
                left: 6px;
            }
        }
        p{
            font-size: 17px;
            line-height: 32px;
            margin-top: 40px;
        }
        .img-container{
            max-width: 340px;
            max-height: 320px;
            img{
                margin-top: 20px;
                border-radius: 8px;
                width: 100%;
                box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
                height: 100%;
            }
            @media only screen and (max-width : 768px) {
                display: none;
            }
        }
    }
}/* about section */
#location-section{
    overflow: hidden;
    padding: 100px 0;
    .row{
        &:first-child{
            h2{
                color: #171616;
                font-size: 32px;
                @media only screen and (max-width : 768px) {
                    font-size: 22px
                }
            }
            p{
                color: #3A3D44;
                font-size: 18px;
                margin-top: 20px;
                @media only screen and (max-width : 768px) {
                    font-size: 16px;
                    margin-top: 0;
                    padding: 10px 30px;
                }
            }
            .d-sm{
                display: none;
                @media only screen and (max-width : 768px) {
                    display: block;
                    h2{
                        padding: 24px 0;
                        margin: 0;
                        color: #0C69D9;
                        font-size: 18px;
                        background-color: #fff;
                        border-top: 1px solid #12D6C7;
                        box-shadow: 0px 3px 6px rgba($color: #0C69D9, $alpha: 0.05);
                    }
                }
            }
            .d-lg{
                display: block;
                @media only screen and (max-width : 768px) {
                    display: none;
                }
            }
        }
        &:last-child{
            display: flex;
            justify-content: center;
            @media only screen and (max-width : 768px) {
                flex-direction: column-reverse;
                align-items: center;
            }
            div{
                margin: 30px;
                .btn-container{
                    margin: 0;
                    padding: 0;
                    li{
                        position: relative;
                        list-style-type: none;
                        margin: 24px 0;
                        a{
                            position: relative;
                            border-radius: 4px;
                            display: block;
                            background-color: rgba($color: #fff, $alpha: .5);   
                            padding: 18px 22px;
                            font-size: 16px;
                            letter-spacing: 1px;
                            text-decoration: none;
                            color: #3A3D44;
                            text-align: center;
                            transition: 0.3s ease;
                            &:hover{
                                color: #fff;
                                background-color: transparent;
                            }
                        }
                        &:hover::before{
                            width: 100%;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 0%;
                            height: 100%;
                            background-color: #0291F7;
                            top: 0;
                            left: 0;
                            border-radius: 4px;
                            transition: all 0.3s ease;
                        }
                        &.active{
                            a{
                                border-left: 3px solid #0C69D9;
                                color: #0C69D9;
                                background-color: #fff;
                            }
                        }
                    }
                }
                .description{
                    text-align: center;
                    .side-content-items{
                        &:not(:first-child){
                            display: none;
                        }
                    }
                    h3{
                        color: #3A3D44;
                        @media only screen and (max-width : 768px) {
                            font-size: 18px;
                        }
                    }
                    p{
                        font-size: 16px;
                        @media only screen and (max-width : 768px) {
                            font-size: 14px;
                        }
                    }
                    ul{
                        padding: 0;
                        display: block;
                        @media only screen and (max-width : 768px) {
                            width: 80vw;
                        }
                        li{
                            list-style: none;
                            display: flex;
                            justify-content: space-between;
                            margin: 4px 0;
                            span{
                                color: #3A3D44;
                            }
                        }
                    }
                    .img-container{
                        max-width: 120px;
                        max-height: 120px;
                        margin: 58px auto;
                        img{
                            border-radius: 100px;
                            background-color: #fff;
                            padding: 24px 26px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                @media only screen and (max-width : 768px) {
                    margin: 0 30px;
                }
            }
        }
    }
    @media only screen and (max-width : 768px) {
        padding: 0px 0;
    }
}/* location section */
#ajw-footer{
    position: relative;
    padding: 20px 30px;
    background-image: url('../img/footer-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    .row{
        a{
            color: #fff;
        }
        &:first-child{
            padding: 10px 0 30px 0;
        }
        &:last-child{
            padding: 20px 0;
        }

        h2{
            font-size: 32px;
            font-weight: 600;
            @media only screen and (max-width : 768px) {
                font-size: 20px;
            }
        }

        .socmed-links{
            margin-top: 30px;
            a{
                font-size: 28px;
                border: 1px solid rgba($color: #fff, $alpha: .5);
                border-radius: 100px;
                transition: 0.3s ease;
                color: rgba($color: #fff, $alpha: .8);
                margin: 0 12px;
                &.fb{
                    padding: 9px 18px;
                }
                &.tw{
                    padding: 9px 11px;
                }
                &.ig{
                    padding: 9px 14px;
                }
                &:hover{
                    color: #fff;
                    border-color: #fff;
                }
            }
        }

        .col-md-6{
            @media only screen and (max-width : 768px) {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            &:last-child{
                text-align: right;
                @media only screen and (max-width : 768px) {
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }

    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #0C69D9;
        opacity: 0.8;
    }
} /* end footer*/
table.ajw-table-list {
    border-collapse: separate;
    border-spacing: 0px 8px;

    thead {
        tr {
            th {
                border-top: none;
                border-bottom: none;
                padding-top: 0;
                padding-bottom: 20px;
                font-size: 13px;
                color: #656565;
            }
        }
    }

    tbody {
        background: #fff;
        tr {
            position: relative;
            box-shadow: 0px 7px 12px rgba(82, 82, 82, 0.05);
            border-radius: 4px;
            transition: all 0.3s ease;
            td {
                border-top: none;
                border-bottom: none;
                position: relative;
                padding-top: 30px;
                padding-bottom: 30px;

                &:first-child {
                    border-radius: 5px 0 0 5px;
                    width: 30%;
                }

                &:nth-child(2){
                    width: 10%;
                }

                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
                a{
                    color: #3A3D44;
                }
                .btn{
                    font-size: 16px;
                    &.btn-outline-primary{
                        color: #0291F7;
                        background-color: transparent;
                        border: 1px solid #0291F7;
                    }
                    &.btn-rounded{
                        border-radius: 100px;
                        padding: 4px 11px;
                        span{
                            font-size: 14px;
                        }
                    }
                }
                &.ajw-dl{
                    a{
                        text-decoration: none;
                        margin: 0 8px;
                    }
                }
            }
            &:hover{
                background-color: rgba($color: #0C69D9, $alpha: .09);
                box-shadow: 0px 7px 12px rgba(82, 82, 82, 0.15);
            }
        }
    }
}
.btn-toolbar{
    float: right;
    .btn-pag{
        background-color: #42A7F0;
        color: #fff;
        padding: 6px 12px;
        border-radius: 3px;
        text-decoration: none;
        &:hover{
            opacity: 0.8;
        }
    }
}
.badge-success{
    background-color: #12D6C7;
}
.pre-load{
    width: 100%;
}
#wa-btn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    opacity: 0.8;
    transition: 0.3s ease;

    &:hover{
        opacity: 1;
    }
    .my-float{
	    margin-top:16px;
    }
}
.btn-read-more{
    background-color: #fff;
    border-radius: 100px;
    margin: 8px 0;
    color: #0291F7;
    font-size: 16px;
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    margin-bottom: 50px;
    span{
        margin-left: 6px;
    }
}
.modal-content-ajw-desc{
    color: #3A3D44;
    padding: 40px;
    font-size: 16px;
    line-height: 36px;
}